# Permitir acceso directo a la carpeta uploads
<Files "*.jpg">
    Allow from all
</Files>
<Files "*.jpeg">
    Allow from all
</Files>
<Files "*.png">
    Allow from all
</Files>
<Files "*.gif">
    Allow from all
</Files>
<Files "*.webp">
    Allow from all
</Files>
